### GENERAL

In [8]:
import pandas as pd

In [9]:
import numpy as np

In [6]:
import sqlite3

In [10]:
db_path = r'C:\PI\Proyecto Final\travel.sqlite'

In [32]:
# Conectar a la base de datos SQLite
conexion = sqlite3.connect(db_path)

In [39]:
# Crear un cursor para ejecutar consultas SQL
cursor = conexion.cursor()

# Ejecutar una consulta para ver las tablas disponibles
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tablas = cursor.fetchall()
print("Tablas disponibles:", tablas)

Tablas disponibles: [('aircrafts_data',), ('airports_data',), ('boarding_passes',), ('bookings',), ('flights',), ('seats',), ('ticket_flights',), ('tickets',)]

### ANALISIS DE TABLAS

#### 1-BOOKINGS

In [13]:
# Cargar una tabla específica en un DataFrame de pandas
# Suponiendo que la tabla se llama 'mi_tabla'
df_bookings = pd.read_sql_query("SELECT * FROM bookings", conexion)

# Mostrar las primeras filas de la tabla cargada
print(df_bookings.head())

  book_ref               book_date  total_amount
0   00000F  2017-07-05 03:12:00+03        265700
1   000012  2017-07-14 09:02:00+03         37900
2   000068  2017-08-15 14:27:00+03         18100
3   000181  2017-08-10 13:28:00+03        131800
4   0002D8  2017-08-07 21:40:00+03         23600

In [9]:
df_bookings.shape

(262788, 3)

In [11]:
df_bookings['book_ref'].nunique()

262788

In [12]:
# Configurar pandas para evitar la notación científica

pd.set_option('display.float_format', '{:,.2f}'.format)

In [13]:
df_bookings.columns

Index(['book_ref', 'book_date', 'total_amount'], dtype='object')

In [14]:
df_bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 262788 entries, 0 to 262787
Data columns (total 3 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   book_ref      262788 non-null  object
 1   book_date     262788 non-null  object
 2   total_amount  262788 non-null  int64
dtypes: int64(1), object(2)
memory usage: 6.0+ MB

In [32]:
df_bookings.describe()

       total_amount
count    262,788.00
mean      79,025.61
std       77,621.92
min        3,400.00
25%       29,000.00
50%       55,900.00
75%       99,200.00
max    1,204,500.00

In [19]:
for columna in df_bookings.columns:
    if df_bookings[columna].dtype== 'float64' or df_bookings[columna].dtype== 'int64':
        print(columna)
        print (f'Prom {df_bookings[columna].mean()}')
        print (f'mediana {df_bookings[columna].median()}')
        print (f'var {df_bookings[columna].var()}')
        print (f'std {df_bookings[columna].std()}')
        print (f'max {df_bookings[columna].max()}')
        print (f'min {df_bookings[columna].min()}')
        print (f'rango {df_bookings[columna].max()-df_bookings[columna].min()}')
        print('--------')

total_amount
Prom 79025.60581152869
mediana 55900.0
var 6025162887.247295
std 77621.92272320556
max 1204500
min 3400
rango 1201100
--------

Para ver si hay nulos

In [40]:
df_bookings.isnull().sum()

book_ref        0
book_date       0
total_amount    0
dtype: int64

In [37]:
df_bookings_nulos =df_bookings.isnull().sum() [df_bookings.isnull().sum()>0]
print(df_bookings_nulos)

Series([], dtype: int64)

In [40]:
for columna in df_bookings.columns:
    if df_bookings[columna].nunique() == df_bookings.shape[0]:
        print (f'{columna} es unica' )

book_ref es unica

In [14]:
df_bookings.to_csv('Bookings.csv', index= False)

In [33]:
# Obtener las claves foráneas de una tabla específica
tabla = 'bookings'  
consulta = f"PRAGMA foreign_key_list({tabla})"

# Ejecutar la consulta
cursor = conexion.cursor()
cursor.execute(consulta)

# Mostrar los resultados
claves_foraneas = cursor.fetchall()
for clave in claves_foraneas:
    print(clave)

#### 2-TICKETS

In [16]:
# Cargar una tabla específica en un DataFrame de pandas
# Suponiendo que la tabla se llama 'mi_tabla'
df_tickets= pd.read_sql_query("SELECT * FROM tickets", conexion)

# Mostrar las primeras filas de la tabla cargada
print(df_tickets.head())

       ticket_no book_ref passenger_id
0  0005432000987   06B046  8149 604011
1  0005432000988   06B046  8499 420203
2  0005432000989   E170C3  1011 752484
3  0005432000990   E170C3  4849 400049
4  0005432000991   F313DD  6615 976589

In [30]:
df_tickets.shape[0]

366733

In [34]:
for columna in df_tickets.columns:
    if df_tickets[columna].nunique() == df_tickets.shape[0]:
        print (f'{columna} es unica' )

ticket_no es unica
passenger_id es unica

In [36]:
df_tickets_nulos =df_tickets.isnull().sum() [df_tickets.isnull().sum()>0]
print(df_tickets_nulos)

Series([], dtype: int64)

In [17]:
df_tickets.to_csv('tickets.csv', index= False)

Para ver las claves

In [37]:
 
tabla2 = 'tickets'  
consulta2 = f"PRAGMA foreign_key_list({tabla2})"

# Ejecutar la consulta
cursor = conexion.cursor()
cursor.execute(consulta2)

# Mostrar los resultados
claves_foraneas2 = cursor.fetchall()
for clave in claves_foraneas2:
    print(clave)

#### 3-FLIGHTS

In [18]:
 
df_flights= pd.read_sql_query("SELECT * FROM flights", conexion)

print(df_flights.head())

   flight_id flight_no     scheduled_departure       scheduled_arrival  \
0       1185    PG0134  2017-09-10 09:50:00+03  2017-09-10 14:55:00+03
1       3979    PG0052  2017-08-25 14:50:00+03  2017-08-25 17:35:00+03
2       4739    PG0561  2017-09-05 12:30:00+03  2017-09-05 14:15:00+03
3       5502    PG0529  2017-09-12 09:50:00+03  2017-09-12 11:20:00+03
4       6938    PG0461  2017-09-04 12:25:00+03  2017-09-04 13:20:00+03

  departure_airport arrival_airport     status aircraft_code actual_departure  \
0               DME             BTK  Scheduled           319               \N
1               VKO             HMA  Scheduled           CR2               \N
2               VKO             AER  Scheduled           763               \N
3               SVO             UFA  Scheduled           763               \N
4               SVO             ULV  Scheduled           SU9               \N

  actual_arrival
0             \N
1             \N
2             \N
3             \N
4             \N

In [38]:
for columna in df_flights.columns:
    if df_flights[columna].nunique() == df_flights.shape[0]:
        print (f'{columna} es unica' )

flight_id es unica

In [39]:
df_flights_nulos =df_flights.isnull().sum() [df_flights.isnull().sum()>0]
print(df_flights_nulos)

Series([], dtype: int64)

In [19]:
df_flights.to_csv('flights.csv', index= False)

#### 4-TICKETS_FLIGHTS

In [8]:
df_tickets_flights= pd.read_sql_query("SELECT * FROM ticket_flights", conexion)

print(df_tickets_flights.head())

       ticket_no  flight_id fare_conditions  amount
0  0005432159776      30625        Business   42100
1  0005435212351      30625        Business   42100
2  0005435212386      30625        Business   42100
3  0005435212381      30625        Business   42100
4  0005432211370      30625        Business   42100

In [50]:
df_tickets_flights.shape

(1045726, 4)

In [46]:
df_tickets_flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1045726 entries, 0 to 1045725
Data columns (total 4 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   ticket_no        1045726 non-null  object
 1   flight_id        1045726 non-null  int64
 2   fare_conditions  1045726 non-null  object
 3   amount           1045726 non-null  int64
dtypes: int64(2), object(2)
memory usage: 31.9+ MB

In [48]:
df_tickets_flights['amount'].describe()

count   1,045,726.00
mean       19,858.91
std        22,612.39
min         3,000.00
25%         7,200.00
50%        13,400.00
75%        23,100.00
max       203,300.00
Name: amount, dtype: float64

In [49]:
for columna in df_tickets_flights.columns:
    print(columna)
    print(df_tickets_flights[columna].describe())
    print ('------' )

ticket_no
count           1045726
unique           366733
top       0005432665242
freq                  6
Name: ticket_no, dtype: object
------
flight_id
count   1,045,726.00
mean       14,110.06
std         9,732.94
min             1.00
25%         5,501.00
50%        11,926.00
75%        23,039.00
max        33,121.00
Name: flight_id, dtype: float64
------
fare_conditions
count     1045726
unique          3
top       Economy
freq       920793
Name: fare_conditions, dtype: object
------
amount
count   1,045,726.00
mean       19,858.91
std        22,612.39
min         3,000.00
25%         7,200.00
50%        13,400.00
75%        23,100.00
max       203,300.00
Name: amount, dtype: float64
------

In [53]:
for columna in df_tickets_flights.columns:
    print(columna)
    print(df_tickets_flights[columna].nunique())
    print(df_tickets_flights.shape)
    if df_tickets_flights[columna].nunique() == df_tickets_flights.shape[0]:
        print (f'{columna} es unica' )

ticket_no
366733
(1045726, 4)
flight_id
22226
(1045726, 4)
fare_conditions
3
(1045726, 4)
amount
338
(1045726, 4)

In [11]:
df_tickets_flights.groupby('fare_conditions')['amount'].count()

fare_conditions
Business    107642
Comfort      17291
Economy     920793
Name: amount, dtype: int64

In [24]:
df_fareconditions = df_tickets_flights.groupby('fare_conditions')['amount']

In [25]:
print(df_fareconditions)

<pandas.core.groupby.generic.SeriesGroupBy object at 0x000001CAF43DA150>

In [27]:
valores_unicos, conteos = np.unique(df_fareconditions, return_counts=True)
print(valores_unicos)  # Salida: [1 2 3 4]
print(conteos)         # Salida: [1 2 3 1]

ValueError: setting an array element with a sequence. The requested array has an inhomogeneous shape after 2 dimensions. The detected shape was (3, 2) + inhomogeneous part.

In [17]:
df_tickets_flights.pivot_table(columns='fare_conditions', 
                                aggfunc={'amount':[np.mean,np.max,np.min,np.size]})

C:\Users\PC\AppData\Local\Temp\ipykernel_20992\108905608.py:1: FutureWarning: The provided callable <function mean at 0x000001CAF32ECEA0> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "mean" instead.
  df_tickets_flights.pivot_table(columns='fare_conditions',
C:\Users\PC\AppData\Local\Temp\ipykernel_20992\108905608.py:1: FutureWarning: The provided callable <function max at 0x000001CAF32EC4A0> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  df_tickets_flights.pivot_table(columns='fare_conditions',
C:\Users\PC\AppData\Local\Temp\ipykernel_20992\108905608.py:1: FutureWarning: The provided callable <function min at 0x000001CAF32EC5E0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  df_tickets_flights.pivot_table(columns='fare_conditions',

ValueError: Must produce aggregated value

In [32]:
df_tickets_flights_nulos =df_tickets_flights.isnull().sum() [df_tickets_flights.isnull().sum()>0]
print(df_tickets_flights_nulos)

Series([], dtype: int64)

#### 5-BOARDING_PASSES

In [20]:
df_boarding_passes= pd.read_sql_query("SELECT * FROM boarding_passes", conexion)

print(df_boarding_passes.head())

       ticket_no  flight_id  boarding_no seat_no
0  0005435212351      30625            1      2D
1  0005435212386      30625            2      3G
2  0005435212381      30625            3      4H
3  0005432211370      30625            4      5D
4  0005435212357      30625            5     11A

In [30]:
df_boarding_passes.shape

(579686, 4)

In [31]:
for columna in df_boarding_passes.columns:
    print(columna)
    print(df_boarding_passes[columna].describe())
    print ('------' )

ticket_no
count            579686
unique           238834
top       0005432692645
freq                  6
Name: ticket_no, dtype: object
------
flight_id
count    579686.000000
mean      13720.816521
std        9713.921174
min           1.000000
25%        5351.000000
50%       11217.000000
75%       22481.000000
max       33120.000000
Name: flight_id, dtype: float64
------
boarding_no
count    579686.000000
mean         54.971529
std          58.819012
min           1.000000
25%          15.000000
50%          36.000000
75%          72.000000
max         374.000000
Name: boarding_no, dtype: float64
------
seat_no
count     579686
unique       461
top           1A
freq        5951
Name: seat_no, dtype: object
------

In [29]:
for columna in df_boarding_passes.columns:
    print(columna)
    print(df_boarding_passes[columna].nunique())
    print(df_boarding_passes.shape)
    if df_boarding_passes[columna].nunique() == df_boarding_passes.shape[0]:
        print (f'{columna} es unica' )

ticket_no
238834
(579686, 4)
flight_id
11518
(579686, 4)
boarding_no
374
(579686, 4)
seat_no
461
(579686, 4)

In [33]:
df_boarding_passes_nulos =df_boarding_passes.isnull().sum() [df_boarding_passes.isnull().sum()>0]
print(df_boarding_passes_nulos)

Series([], dtype: int64)

In [29]:
query_bytickets = '''
SELECT
    boarding_no,
    COUNT(ticket_no) AS Cantidad_tickets,
    COUNT(flight_id) AS Cantidad_vuelos
FROM
    boarding_passes
GROUP BY
    boarding_no
ORDER BY 
    Cantidad_tickets
'''

df_boarding_passes_bytickets= pd.read_sql_query(query_bytickets, conexion)
print(df_boarding_passes_bytickets)

     boarding_no  Cantidad_tickets  Cantidad_vuelos
0            366                 1                1
1            367                 1                1
2            368                 1                1
3            369                 1                1
4            370                 1                1
..           ...               ...              ...
369            5             10609            10609
370            4             10906            10906
371            3             11165            11165
372            2             11399            11399
373            1             11518            11518

[374 rows x 3 columns]

#### 6-SEATS

In [34]:
df_seats= pd.read_sql_query("SELECT * FROM seats", conexion)

print(df_seats.head())

  aircraft_code seat_no fare_conditions
0           319      2A        Business
1           319      2C        Business
2           319      2D        Business
3           319      2F        Business
4           319      3A        Business

In [36]:
df_seats.shape

(1339, 3)

In [37]:
for columna in df_seats.columns:
    print(columna)
    print(df_seats[columna].describe())
    print ('------' )

aircraft_code
count     1339
unique       9
top        773
freq       402
Name: aircraft_code, dtype: object
------
seat_no
count     1339
unique     461
top         1A
freq         9
Name: seat_no, dtype: object
------
fare_conditions
count        1339
unique          3
top       Economy
freq         1139
Name: fare_conditions, dtype: object
------

In [38]:
for columna in df_seats.columns:
    print(columna)
    print(df_seats[columna].nunique())
    print(df_seats.shape)
    if df_seats[columna].nunique() == df_seats.shape[0]:
        print (f'{columna} es unica' )

aircraft_code
9
(1339, 3)
seat_no
461
(1339, 3)
fare_conditions
3
(1339, 3)

#### 7-AIRCRAFTS

In [39]:
df_aircrafts= pd.read_sql_query("SELECT * FROM aircrafts_data", conexion)

print(df_aircrafts.head())

  aircraft_code                                              model  range
0           773    {"en": "Boeing 777-300", "ru": "Боинг 777-300"}  11100
1           763    {"en": "Boeing 767-300", "ru": "Боинг 767-300"}   7900
2           SU9  {"en": "Sukhoi Superjet-100", "ru": "Сухой Суп...   3000
3           320  {"en": "Airbus A320-200", "ru": "Аэробус A320-...   5700
4           321  {"en": "Airbus A321-200", "ru": "Аэробус A321-...   5600

In [41]:
df_aircrafts.shape

(9, 3)

In [42]:
for columna in df_aircrafts.columns:
    print(columna)
    print(df_aircrafts[columna].describe())
    print ('------' )

aircraft_code
count       9
unique      9
top       773
freq        1
Name: aircraft_code, dtype: object
------
model
count                                                   9
unique                                                  9
top       {"en": "Boeing 777-300", "ru": "Боинг 777-300"}
freq                                                    1
Name: model, dtype: object
------
range
count        9.000000
mean      5344.444444
std       3013.764718
min       1200.000000
25%       3000.000000
50%       5600.000000
75%       6700.000000
max      11100.000000
Name: range, dtype: float64
------

In [43]:
for columna in df_aircrafts.columns:
    print(columna)
    print(df_aircrafts[columna].nunique())
    print(df_aircrafts.shape)
    if df_aircrafts[columna].nunique() == df_aircrafts.shape[0]:
        print (f'{columna} es unica' )

aircraft_code
9
(9, 3)
aircraft_code es unica
model
9
(9, 3)
model es unica
range
9
(9, 3)
range es unica

#### 8-AIRPORTS

In [44]:
df_airports= pd.read_sql_query("SELECT * FROM airports_data", conexion)

print(df_airports.head())

  airport_code                                       airport_name  \
0          YKS          {"en": "Yakutsk Airport", "ru": "Якутск"}
1          MJZ            {"en": "Mirny Airport", "ru": "Мирный"}
2          KHV  {"en": "Khabarovsk-Novy Airport", "ru": "Хабар...
3          PKC        {"en": "Yelizovo Airport", "ru": "Елизово"}
4          UUS  {"en": "Yuzhno-Sakhalinsk Airport", "ru": "Хом...

                                                city  \
0                  {"en": "Yakutsk", "ru": "Якутск"}
1                   {"en": "Mirnyj", "ru": "Мирный"}
2            {"en": "Khabarovsk", "ru": "Хабаровск"}
3  {"en": "Petropavlovsk", "ru": "Петропавловск-К...
4  {"en": "Yuzhno-Sakhalinsk", "ru": "Южно-Сахали...

                                 coordinates          timezone
0      (129.77099609375,62.0932998657226562)      Asia/Yakutsk
1    (114.03900146484375,62.534698486328125)      Asia/Yakutsk
2      (135.18800354004,48.5279998779300001)  Asia/Vladivostok
3  (158.453994750976562,53.1679000854492188)    Asia/Kamchatka
4  (142.718002319335938,46.8886985778808594)     Asia/Sakhalin

In [45]:
df_airports.shape

(104, 5)

In [46]:
for columna in df_airports.columns:
    print(columna)
    print(df_airports[columna].describe())
    print ('------' )

airport_code
count     104
unique    104
top       YKS
freq        1
Name: airport_code, dtype: object
------
airport_name
count                                           104
unique                                          104
top       {"en": "Yakutsk Airport", "ru": "Якутск"}
freq                                              1
Name: airport_name, dtype: object
------
city
count                                  104
unique                                 101
top       {"en": "Moscow", "ru": "Москва"}
freq                                     3
Name: city, dtype: object
------
coordinates
count                                       104
unique                                      104
top       (129.77099609375,62.0932998657226562)
freq                                          1
Name: coordinates, dtype: object
------
timezone
count               104
unique               17
top       Europe/Moscow
freq                 44
Name: timezone, dtype: object
------

In [47]:
for columna in df_airports.columns:
    print(columna)
    print(df_airports[columna].nunique())
    print(df_airports.shape)
    if df_airports[columna].nunique() == df_airports.shape[0]:
        print (f'{columna} es unica' )

airport_code
104
(104, 5)
airport_code es unica
airport_name
104
(104, 5)
airport_name es unica
city
101
(104, 5)
coordinates
104
(104, 5)
coordinates es unica
timezone
17
(104, 5)

In [ ]:
# Cerrar la conexión
conexion.close()